$Violet :#8A2BE2;
$white :#FFFFFF;
$grisClair :#EEEEEE;
body{
  width: 100%;
  overflow-x: hidden;
}
.cnt-navbar{
  margin-top: 15px;
}
.nav{
  background-color: $Violet;
  height: 100%;
  border: none;
  text-align: center;
}
.navbar-inverse .navbar-nav>li>a {
 color : white;
}
.navbar-brand>img{
  margin-top: -10px;
} 
.cntnavb-mobile{
  display: none;
}
.inputtext{
    padding: 7px 70px 7px 10px;
    border: 2px solid $grisClair;
    margin-left: 150px;
    margin-top: 5px;
}
.inputsub{
    padding: 8px 17px 8.5px 17px;
    margin-left: -5px;
    background-color: #EEEEEE;
    color: black;
    border: none;
    font-size: 15px;
    
  }
  .inputsubbb{
    margin-top: 10px;
    padding: 9px 17px 11px 17px;
    margin-left: 100px;
    background-color: #EEEEEE;
    color: black;
    border: none;
    font-size: 15px;
  }
.activee{
  background-color: $white;
  color: $Violet;
}
.select-cat{
  width: 20%;
  margin-left: 2%;
}
.log-menu{
  margin-left: 350px;
  margin-top: -15px;
}
.pp{
  margin-top: -10px;
  margin-left: -50px;
  img{
    width: 15px;
    height: 8px;
    margin-left: 2px;
    margin-top: -2px;
  }
}
.hh{
  margin-top: -5px;
  margin-left:-50px ;
}
.cart-menu{
  width: 40px;
  height: 50px;
  margin-left: 28px;
}
.carousel-inner .item a img, .carousel-inner .item img, .img-responsive, .thumbnail a img, .thumbnail img  {
  height: 500px;
}
.titrescat{
  margin-top: 20px;
  text-align : center;
  margin-bottom: 50px;
  button{
    background-color: white;
    padding: 10px 30px;
    font-size: 15px;
  }
}
.b2{
  margin-left: -5px;
  margin-right: -5px;
}
@for $i from 1 through 3 {
 .buttonslide-#{$i}{
    border: 3px solid $Violet;
    border-radius: 15px 15px 0px 0px;
}}
.livre{
  border: none;
  margin-left: 50px;
  border-right: 2px solid $grisClair;
  align-content: center;
  width: 25%;
  margin-bottom: 50px;

  p,h3{
    text-align: center;

  }
}
.imglivre{
  background: url("../images/livre1.png") center center/cover no-repeat;
  margin: auto;
  height: 250px;
  // padding: 50px;
  div{
  margin-left: 30px;  
  button{
    margin-top: 100px;
    margin-left: -4px;
    background-color: white;
    padding: 10px 25px;
    border: 2px solid $grisClair;
  }
}}
.cartmenu{
  font-size:35px;
  color: $Violet;
 
}
.pa{
  margin-left: 10px;
}
.plusvendus{
background-image: url("../images/qqq.png");
height: 700px;}
.plusvendusdiv{
  // width: 96%;
  height: 550px;
  margin-top: 30px;
  // margin-left: 2%;
  background-color: $white;
  
}
.plusvendusimg img{
  margin-top: 20px;
  margin-right: 10px;
  width: 100%;
  height: 500px;

}
.livre2{
  border: none;
  border-right: 2px solid $grisClair;
  background: url("../images/livre1.png") center center/cover no-repeat;
  height: 250px;
  width: 30%;
  div{
    width: 120%;

  button{
    margin-top: 100px;
    margin-left: -4px;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid $grisClair;
  }
}
}
  
  a{
    text-decoration: none;
  }
  .login{
    font-size: 16px;
    color: $Violet;
    text-decoration: none;
    &:hover{
      color: $Violet;
      text-decoration: none;
    }
    
  }
  .ins, .ou{
    font-size: 15px;
    color: black;
    text-decoration: none;
    &:hover{
      color: $Violet;
      text-decoration: none;
    }
  }
  .plusvenduss{
    text-align: center;  
    color: $Violet;
  }
  footer{
    margin-top: 50px;
    background-color: #EEEEEE;
    width: 100%;
    height: 360px;
    h4{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h5{
      margin-top: 40px;
      text-align: center;
    
  }
    h6{
      text-align: center;
      margin-top: 40px;

    }
    input{
      width: 100%;
      height: 50px;
      font-size: 18px;
      border: 2px solid gray;
      
    }
    button{
      margin-top: 10px;
      width: 100%;
      height: 50px;
      background-color: $Violet;
      color: $white;
      font-size: 25px;
      border: none;
      &:hover{
        color: $white;
        background-color: black;
      }
     
    }
    i{
      font-size: 30px;
      margin-right: 5px;
    }
   a{
     color: black;
     text-decoration: none;
  &:hover{
    color: $Violet;
    text-decoration: none;
  }
   }
  }
  .fb{
    margin-top: 20px;
    font-size: 35px;
    color :#3B5998

  }
  .twitter{
    margin-top: 20px;
    font-size: 35px;
    color: #1DA1F2;
  }
  .gplus{
    margin-top: 20px;
    font-size: 35px;
    color: #EA4335;

  }
  .pinterest{
    margin-top: 20px;
    font-size: 35px;
    color: #BD081C;
  }
  .h h4:hover{
      color: $Violet;
   
  }
  .carousel-indicators li {
    background-color: transparent;  
    border: 2px solid $Violet; 
}
.carousel-indicators .active {
    background-color: $Violet;
}
.cattt{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  margin-left: 5%;
}
@for $i from 1 through 5 {
  .cat#{$i}{
  background: url("../images/cat#{$i}.jpg") center center/cover no-repeat;
  height: 250px;
  @if ($i==4 or $i==5) {
    margin-top:10px
  }
  a{
    margin-left: 15px;
    color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
  }
  i{
    margin-left: 15px;
    margin-top: 5px;
  }
 }}
 .cat1{
 height: 500px;
 }
 .f{
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
 }
 .row1{
   border: 2px solid $grisClair;
   margin-right: 15px;
   i{
     margin-top: 12px;
     color: $Violet;
     font-size: 35px;
   }
 }
 .slide{
   text-align: center;
   i{
     font-size: 30px;
     color:$Violet;
   }
 }
 .search2{
  display: none;
}
.pap{
  color: $Violet;
  margin-left: -100px;
}

.headd{
  margin-left: 3%;
}
.insdiv{
  margin-top: 50px;
}
.boutique{
 margin-top: 50px;
}
.but1{
 width: 250px;
 border-bottom: 2px solid $grisClair;
 margin-left: 5%;
 text-align: center;
}
.but button{
  padding: 10px 50px;
  background-color: white;
  color: black;
  border: none;
  margin-bottom: 10px;
  text-align: center;
}
.titreb1, .titreb2, .titreb3{
  background-color: $Violet;
  color: white;
  border: none;
  margin-bottom: 10px;
  margin-left: 5%;
  text-align: center;
  text-transform: uppercase;
}
.titreb1{
  padding: 10px 30%;
}
.cpt{
  background-color: $white;
  color: black;
  border: none;
  text-transform: uppercase;
}
.cptpagediv{
  padding: 15px 2% 15px 7%;
  background-color: $white;
  color: black;
  border: 2px solid $grisClair;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-left: 5%;
  text-transform: uppercase;
  margin-top: -10px;
  &:hover {
   color: $Violet;
  }

  i{
    font-size:22px;
    margin-right: 10px;
    
    
  }
}
.cpt a{
 color: black; 
 text-decoration: none; 

 }


.cptpage{
  background-color: $Violet;
  border: none;
  margin-bottom: 10px;
  margin-left: 5%;
  text-transform: uppercase;
  a{
    color: white;
    text-decoration: none;

  }
  &:hover{
    color: black;
  }
}
  

.titreb2{
  padding: 10px 31.5%;
}
.titreb3{
  padding: 10px 35%;
}
.insdiv{
  padding: 10px 40px;
  border: 2px solid $grisClair;
  border-radius: 25px;
  // margin-left: 30%;
  label{
    margin-left: 5%;
    color: gray;
  }
}
.nnn{ 
  input{
    margin-left: 10%;
  }  
  label{
  margin-left: 10%;
}}
.no{
  padding: 10px 62% 10px 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  border: 2px solid $grisClair;
}
.no2{
  padding: 10px 65.5% 10px 10px;
  margin-bottom: 10px;
  // margin-left: 5%;
  border: 2px solid $grisClair;
}
.nnn3{
  margin-left: 2%;
input{
  margin-bottom: 50px;
  
}}
.passer{
  margin-left: 80%;
}
.cmp{
  text-align: center;
  margin-bottom: 50px;
}
.complete{
  margin-top: 30px;
}
.code{
  padding: 10px 8% 10px 10px;
  margin-bottom: 10px;
  // margin-left: 2%;
  border: 2px solid $grisClair;
}
.nn{
  padding: 10px 30px;
  margin-left: 8%;
  border: 2px solid $grisClair;
}
.nn2{
  padding: 10px 30px;
  // margin-top: 0px;
  border: 2px solid $grisClair;
}
.nnn2{
  margin-top: 10px;
}
input[type="radio"]{
    margin-bottom: 20px;
    margin-left: 10%;
  }
.adiv{
  margin-left: 20px;
}
  .confirm{
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: $Violet;
    color: $white;
    border: none;
    i{
      color: white;
    }
  }
 .btncnx{
  background-color: white;
   border: 4px solid $grisClair;
   padding: 10px 50px;
   margin-left: 35%;
   margin-bottom: 10px;
   margin-top: 10px;
   &:hover{
    background-color: $Violet;
    border: none;
    color: $white;
   }
 }
 .btncnxxx{
  background-color: white;
   border: 4px solid $grisClair;
   padding: 6px 25px;
   font-size: 18px;
   margin-bottom: 10px;
   margin-top: 10px;
   &:hover{
    background-color: $Violet;
    border: none;
    color: $white;
   }
 }
 .auth{
   margin-top: 50px;
 } 
 .auth2{
  margin-left: 25%;
} 
 .cptt{
  width: 80%;
  
}
.cntcpt{
  padding: 10px;
  border: 2px solid $grisClair;
  width: 700px;
  margin-left: 5%;
  font-size: 15px;

}
.cntcmd{
  padding: 10px 35px;
  border: 2px solid $grisClair;
  width: 700px;
  margin-left: 5%;
  font-size: 18px;

}
.hr1{
	border-top: 2px solid $grisClair;
}
.paypaimg{
  width: 50px;
  height: 50px;
  margin-left: 35px;
  margin-top: -10px;
}
.ccimg{
  width: 50px;
  height: 40px;
  margin-left: 35px;
}
.rs{
  margin-left: -100px;
}
.cttt{
  display: none;
}
.cntnavb-mobile{
  display: none;
}
.cnt-navbar{
  display: block;
}
.imgdesc{
  width: 350px;
  height: 500px;
}
.desc{
 margin-top: 50px;
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
 input{
   border-radius: 50%;
   padding: 10px 15px;
   background-color: #D3D3D3;
   width: 50px;
   border: none;
 }
}
.violet{
  color: $Violet;
}
.jstar{
  color: #fbec5d;
}
.grisstar{
  color: grey;
}
.ajpan{
  border: 2px solid $Violet;
  padding: 10px 20px;
  background-color: white;
  margin-left: 10px;
  &:hover{
    border: none;
    background-color: $Violet;
    color: white;
  }
}
.fav{
  color : black;
  text-decoration: none;
  margin-top: 10px;
  &:hover{
    color : $Violet;
  text-decoration: none;
  }
}
.map{
  width: 100%;
  height: 350px;
}
.formc{
  margin-top:40px;
  label{
    color: #707070;
    font-size: 16px;
    margin-top:10px;
  }
  input {
    padding: 5px 50% 5px 5px;
    border: 2px solid $grisClair;

  }
  textarea {
    padding: 5px 350px 5px 5px;
    border: 2px solid $grisClair;
  }
  button {
    margin-top: 5px;
    background-color: $Violet;
    color: white;
    padding: 5px 10px;
    border: none;
  }
}
.detailsc{
  margin-top:25px;
  font-size: 18px;
  h3{
    margin-bottom: 30px;
  }
  i{
    margin-top:10px;
    margin-right: 10px;
    color: $Violet;
  }
  p{
    color: grey;
    line-height: 1.4;
  }
}
.nom{
  margin-left: -100px;
  margin-right: 50px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  // display: flex;
  margin-top: -10px;
  &:hover{
    text-decoration: none;
  color: black;
  }
  i{
    font-size: 22px;
    color: $Violet;

  }

}
.headerr{
  margin-top: 10px;
}
.buttonqte{
  border: none;
  background-color: white;
}
 @media(max-width:1024px) {
  .inputsubbb{
  margin-left: -30px;
  }
  .cntcpt{
    width: 300px;
  }
   .livre{
     width: 90%;
   } 
   .imglivre div {
    margin-left: 70px;
}

.detailsc{
  margin-left: 10%;
}
.cnt-navbar{
  display: none;
}
.cntnavb-mobile{
  display: block;
}
.plusvendusdiv {
  height: 2000px;
}
.plusvendus{
  height: 2200px;
} 

.cttt{
  display: block;
}

.search1,.login,.ins,.ou,.pa,.cartmenu{
  display: none;
}
.search2{
  display: block;
  margin-top: 10px;
}
.form-control{
  width: auto;
  margin: 25px 100%;
}
.row1{
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
}
footer{
  height: 1150px;
}
.plusvenduslivres{
  text-align: center;
}
.livre2 {
 width: 100%;
 margin-top: 10px;
}
.livre2 div {
   width: 100%; 
}
.imglivre22{
  margin-left: 20px;
}
.search2 input {
  padding: 6px 60px 6px 6px;
}
.search2 button {
  padding: 7.5px 8px 7px 8px;
  background-color: $grisClair;
  margin-left: -5px;
  border: none;
  &:hover{
    color: $grisClair;
    background-color: black;

  }
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border: none;
}
.cntcmd{
  width: 50%;
  h3{
    font-size: 12px;
  }

}

 }

